body {
    background: url("../images/back_1600.png") no-repeat top center fixed;
    background-size: cover;

    font-family: 'Open Sans', sans-serif;
}

nav.navbar-header {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: none;
    height: 64px;
    width: 100%;
}

nav.navbar > div.container {
    padding-top: 25px;
    padding-left: 10%;
}

.brand-second {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: -3px;
}

.container, .form-action {
    text-align: center;
}

.second-action {
    padding-top: 15px;
}

#form-forgetpassword {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;

    margin-top: 160px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;

    text-align: left;

    background-color: #FFFFFF;
}

form input[type=text], input[type=email], input[type=password], input#tags, select.form-control {
    margin-bottom: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    height: 38px;

    text-indent: 10px;
}

#form-forgetpassword button {
    height: 38px;
}

#form-forgetpassword p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#form-forgetpassword div.form-group {
    padding-top: 45px;
    margin-top: 0px;
    margin-bottom: 0px;

}

#form-forgetpassword div.form-group > div {
    padding-left: 0px;
}

p#form-Title {
    font-weight:600;
    font-size: 32px;
    color: #384343;
}

.jumbotron-footer {
    margin-top: 60px;
    text-align: center;
}